<div style="text-align:center">
  <h2 [class.text_danger]="hasError">Welcome to Invoice</h2>

  <h2 [class]="successText">Welcome to Invoice</h2>
  <h4 [class]="messageClass">New text here</h4>
  <h5 [style.color]="'orange'">Style</h5>
  <h5 [style.color]="hasError == true ? 'red' : 'green'">
    Style Ternary Oparetor
  </h5>

  <p [ngStyle]="multyStyle">this is a paragrap tag..................</p>
  <br />
  <br />
</div>
<div>
  <button (click)="getsms($event)">Click here</button>
  <button (click)="sms = ''">Remove here</button>
  {{ sms }}
</div>
<hr />
<div>
  <input #nameInput type="text" value="name" />
  <button (click)="nameInput.value = 'rifat'">submit</button>
</div>
<br />
<div>
  <input #mailInput type="text" />
  <h2>{{ "Welcome to " + name }}</h2>
  <button (click)="mainFeild(mailInput.value)">submit</button>
</div>
<hr />

<input type="text" [(ngModel)]="name" />
Hi,{{ name }}
<hr />
<p>{{ getMathResult(4, 5) }}</p>

<!-- ngif -->
<h3 *ngIf="displayCondition; else elseField">Name is show</h3>
<ng-template #elseField>
  <h3>
    Name is hide
  </h3>
</ng-template>

<div *ngIf="true; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <h4>Then block</h4>
</ng-template>
<ng-template #elseBlock>
  <h4>else block</h4>
</ng-template>

<!-- ngswicth -->

<div [ngSwitch]="switchColor">
  <div *ngSwitchCase="'red'" [style.color]="switchColor"> This is Red</div>
  <div *ngSwitchCase="'blue'" [style.color]="switchColor"> This is blue</div>
  <div *ngSwitchCase="'green'" [style.color]="switchColor">This is green</div>
  <div *ngSwitchDefault>This is Default</div>
</div>

<!-- ngfor -->

<div *ngFor="let fruit of fruits; index as i">
  <h2>{{i+1}}. {{fruit}}</h2>
</div>

<hr/>
<!-- from parent -->
<h2>{{nameOfApp}}</h2>

<!-- send to parent -->
<button (click)="fireEvent()">Click</button>

<!-- service -->
<div *ngFor="let employee of employees; index as i">
  <h2>{{i+1}}.{{employee.id}} {{employee.name}}</h2>
</div>